body {
    display: block;
    font: 100% Verdana;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #d14836;
}

input[type=text],[type=tel], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    width: 128px;
    background-color: #d14836;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #af4032;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.label {
    float: left;
    width: 12%;
    margin-top: 6px;
}
  
.field {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-right: 36px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .label, .field, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}